.modal-content {
  input[type="text"] {
    font-size: 12px;
    border-radius: 0;
    border-bottom: 1px solid #000;
  }
  input[type="date"] {
    font-size: 12px;
    padding: 0;
  }
}

.po_list {
  background: #F1F9FF;
  color: #0D2134;
  padding: 50px 30px;
  border-radius: 5px;
  .filter {
    button {
      display: block;
      text-align: left;
      background: #FF4848;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: #fff;
      transition: .5s;
      cursor: pointer;
      &:hover {
        background: #2b87f1;
      }
    }
  }
  a.clear {
    font-size: 12px;
    color: #000;
    font-weight: 300;
    &:hover {
      color: red;
    }
  }
  .list {
    @include media-breakpoint-up(md) {
      border-left: 1px solid #0D2134;
    }
    &_nopos {
      font-weight: 16px;
      h2 {
        font-weight: 300;
        margin-bottom: 50px;
        span {
          font-weight: 600;
          display: block;
        }
      }
      a {
        color: #fff;

        &:hover {
          color: #000;
        }
      }
    }
    input {
      margin-bottom: 15px;
      padding: 10px;
    }
    .clearsearch {

      position: absolute;
      top: 0;
      right: 30px;
      font-size: 22px;
      // color: #FF4848;
      color: #FF0000;
      font-weight: 700;

    }
    .date {

      text-align: right;
      margin-bottom: 5px;
      font-weight: 600;

    }
    .po_entry {

      margin-left: 0;
      padding: 25px;
      color: #2B88F1;
      border-radius: 5px;
      background: #0D2134;
      margin-bottom: 15px;
      border-bottom: 1px solid #000;
      padding-bottom: 15px;

      .po_number {

        font-size: 30px;
        letter-spacing: 3px;
        text-align: center;

      }

      .po_status {

        color: #fff;

      }


      .po_details {
        border-top: 1px solid rgba(255,255,255, .1);
        border-bottom: 1px solid rgba(255,255,255, .1);
        font-size: .95em;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 1.5em;
        padding: 15px 0;

        strong {
          display: block;
          font-size: .9em;
          color: #2b88f1;
        }

        .col-12 {
          margin-bottom: 15px;
        }

      }
      .add_pod {
        text-align: right;

        .upload_pod {

          background: #A71F47;
          border-radius: 5px;
          color: #fff;
          text-transform: uppercase;
          text-align: right;
          padding: 20px;

          img {
            float: left;
            margin-top: -5px;
          }

        }

      }
      a {
        color: #fff;
        font-weight: 600;
      }
    }
    hr {
      border-top: 1px solid #000;
      margin-top: 0;
      width: 100%;
    }
    .alert-error {
      color: #FF0000;

      .po_details {

        strong {
          color: #FF0000;
        }

      }


    }
    .alert-dark {
      background-color: #e2e3e5;
      color: #8a8e90;
      border-bottom: 1px solid #e2e3e5;

      .po_details {

        strong {
          color: #8a8e90;
        }

      }


    }
    .alert-warning {
      color: #ffbf00;

      .po_details {

        strong {
          color: #ffbf00;
        }

      }


    }
  }
}

.po-create {
  background: #A71F47;
  color: rgba(255,255,255,.8);
  padding: 30px 15px;
  border-radius: 5px;

  &__data {

    @include media-breakpoint-up(md) {
      padding: 0 50px;
    }

    //

    &:first-of-type {

      @include media-breakpoint-up(md) {
        padding: 0;
      }

    }

  }

  &_suspended {
    font-weight: 16px;
    h2 {
      font-weight: 300;
      margin-bottom: 50px;
      span {
        font-weight: 600;
      }
    }
    a {
      color: #fff;

      &:hover {
        color: #000;
      }
    }
  }
  .col-lg-4 {
    @include media-breakpoint-up(md) {
      border-right: 1px solid #fff;
    }

    &:last-of-type {
      border-right: 0;
    }

  }
  &_selectCompany {
    margin-bottom: 15px;
    form {
      border-right: 0 !important;
    }
    button {
      width: 100%;
      margin-top: 15px;
      color: #fff;
      padding: 15px;
      text-transform: uppercase;
      font-size: 12px;
      background: #F45B5B;
      font-weight: 500;
    }
  }
  form {
    @include media-breakpoint-up(md) {
      // border-right: 1px solid #fff;
      padding: 0 30px;
    }
    a {
      color: #fff;
      transition: .5s;
      &:hover {
        color: #000;
      }
    }
    input {
      background: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      max-width: 100%;
    }
    ::placeholder {
      color: rgba(255, 255, 255, .5);
      font-weight: 500;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    label {
      span {
        font-size: 10px;
      }
    }
    button {
      width: 100%;
      color: #fff;
      padding: 15px;
      text-transform: uppercase;
      font-size: 12px;
      background: #F45B5B;
      font-weight: 500;
      &:hover {
        background: #0D2134;
      }
    }
  }
  .textarea {
    padding: 0 15px;
    textarea {
      height: 500px;

    }
  }
  label.main {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    // color: rgba(13, 33, 52, .3);
    font-weight: 600;
  }
}

.po-created {
  background: #2B88F1 url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  color: #fff;
  border-radius: 5px;
  .instruction {
    a {
      font-weight: 600;
      color: #fff;
      font-size: 1.5em;
      display: block;
      margin-bottom: 10px;
    }
  }
  label {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
  }
  &_instructions {
    background: #2B88F1;
    padding: 30px 15px;
    span {
      vertical-align: top;
      font-size: 25px;
      font-weight: 600;
      padding-right: 15px;
      color: rgba(255, 255, 255, .5);
    }
    img {
      margin-bottom: 15px;
      padding-top: 5px;
    }
    &_id {
      background: #0D2134;
      padding: 25px;
      border-radius: 5px;
      margin-bottom: 25px;
      font-size: 32px;
      letter-spacing: 5px;
      span {
        color: #2B88F1;
        font-size: 32px;
        padding-right: 0;
        font-weight: 500;
        letter-spacing: 5px;
      }
    }
    .new {
      width: 100%;
      background: #0D2134;
      color: #fff;
      padding: 15px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .manage {
      width: 100%;
      background: #00B4F7;
      color: #fff;
      padding: 15px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
  &_merchant {
    &_id {
      background: #BD1F4A;
      padding: 15px 25px;
      border-radius: 5px;
      margin-bottom: 25px;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
  .tagline {
    h2 {
      position: absolute;
      top: 50px;
      right: 40px;
      span {
        font-weight: 200;
      }
    }
    img {
      position: absolute;
      bottom: 50px;
      right: 240px;
    }
  }
}
